#heading {
    margin: auto;
    background-color: black;
    color: white;
    width: 80%;
    text-align: center;
    font-weight: bold;
}

#form-container {
    border: 1px;
    border-color: black;
}

.card {
    margin: auto;
    width: 80%;
 }